{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<h1>{{ title }}</h1>
{{ form_start(form) }}
  {{ form_widget(form) }}
  <button class="btn btn-success mt-3">Guardar</button>
  <a href="{{ path('proveedor_index') }}" class="btn btn-secondary mt-3">Volver</a>
{{ form_end(form) }}
{% endblock %}
